# @1
# GHI CHÚ
# I) File này dùng để xử lý dữ liệu kế toán ban đầu thu thập được
# II) Sử dụng dữ liệu sổ chi tiết bán hàng, sổ cái 6421, sổ cái 6422, sổ cái 632

In [1]:
import pandas as pd
import numpy as np

In [2]:
import re

# XU LY TK 632

In [3]:
TK632_20 = pd.read_excel('D://THUCTAP//SO CAI 2020//SC 632.xlsx')
TK632_21 = pd.read_excel('D://THUCTAP//SO CAI 2021//SC 632.xlsx')
TK632_22 = pd.read_excel('D://THUCTAP//SO CAI 2022//SC 632.xlsx')

In [4]:
#Format chung cho dữ liệu SC 632,SC 642x
def Format_SC(df):
    #Bỏ cột không cần thiết và Hàng bị lỗi format
    df = df.iloc[:, 0:8]
    df = df.dropna()
    
    df.reset_index(drop=True, inplace=True)
    # Lưu dòng đầu tiên vào biến temp và loại bỏ nó khỏi DataFrame
    temp = df.iloc[0]
    df = df[1:]
    # Gán tên cột từ temp
    df.columns = temp
    # Bỏ hàng "kết chuyển sang tk 911"
    df = df[~df['TK đối ứng'].str.contains('911')]
    df.reset_index(drop=True, inplace=True)
    # 
    df['Ngày chứng từ'] = pd.to_datetime(df['Ngày chứng từ'])
    #
    columns_to_drop = ['Ngày hạch toán','TK đối ứng','Phát sinh Có']
    df.drop(columns=columns_to_drop, inplace=True)
    #
    df.rename(columns={'Phát sinh Nợ': 'Phát sinh'}, inplace=True)
    #
    return df

In [5]:
#Thêm tách mục diễn giải để lấy tên KH và hoá đơn cho SC 632
def Format_632(df):
    df = Format_SC(df)
    pattern = r'(?i)(?:bán hàng\s*)(.*?)(?:\s*theo hóa đơn\s*)(\b\d+\b)$'  
    df[['Tên khách hàng','Số hóa đơn']] = df['Diễn giải'].str.extract(pattern)
    df['Số hóa đơn'] = "'" + df['Số hóa đơn'].astype(str)
    df.drop(columns=['Diễn giải'], inplace=True)
    return df

In [6]:
TK632_20 = Format_632(TK632_20)
TK632_21 = Format_632(TK632_21)
TK632_22 = Format_632(TK632_22)

In [7]:
TK632_20.head(3)

0 Ngày chứng từ Số chứng từ Tài khoản  Phát sinh  Tên khách hàng Số hóa đơn
0    2020-01-02       XK001       632  163625453     Vũ Như Hùng   '0001390
1    2020-01-02       XK002       632   49985000     Hồ Thị Xuân   '0001391
2    2020-01-02       XK003       632  336824815  Đại lý Tú Hạnh   '0001384

In [8]:
TK632_22.head(3)

0 Ngày chứng từ Số chứng từ Tài khoản  Phát sinh    Tên khách hàng Số hóa đơn
0    2022-01-02     PXK0001       632  191016361     Nguyễn Thị Lý      '1101
1    2022-01-02     PXK0002       632  252287302    Đậu Thanh Hiển      '1102
2    2022-01-03     PXK0003       632  244812458  Đại Lý Tiến Thúy      '1103

# XU LY TAI KHOAN 6421

In [9]:
TK6421_20 = pd.read_excel('D://THUCTAP//SO CAI 2020//SC 6421.xlsx')
TK6421_21 = pd.read_excel('D://THUCTAP//SO CAI 2021//SC 6421.xlsx')
TK6421_22 = pd.read_excel('D://THUCTAP//SO CAI 2022//SC 6421.xlsx')

In [10]:
# sử dụng hàm Format_SC() để xử lý shape của TK 6422
TK6421_20 = Format_SC(TK6421_20)
TK6421_21 = Format_SC(TK6421_21)
TK6421_22 = Format_SC(TK6421_22)

In [11]:
TK6421_20.head(3)

,Ngày chứng từ,Số chứng từ,Diễn giải,Tài khoản,Phát sinh
0,2020-01-30,NVK033,"Mua xăng, dầu",6421,5459745
1,2020-02-01,PC00053,Chi thanh toán tiền mua dầu DO,6421,6229636
2,2020-02-04,PC00056,Chi thanh toán tiền mua dầu DO,6421,912227

In [12]:
TK6421_22.head(3)

,Ngày chứng từ,Số chứng từ,Diễn giải,Tài khoản,Phát sinh
0,2022-01-11,NVK2349,"Mua xăng, dầu DO",6421,6337163
1,2022-01-21,NVK2364,"Mua xăng, dầu DO",6421,6134700
2,2022-01-30,PC22_049,"Chi thanh toán tiền lương, ăn ca tháng 01",6421,3650000

# XU LY TAI KHOAN 6422

In [13]:
TK6422_20 = pd.read_excel('D://THUCTAP//SO CAI 2020//SC 6422.xlsx')
TK6422_21 = pd.read_excel('D://THUCTAP//SO CAI 2021//SC 6422.xlsx')
TK6422_22 = pd.read_excel('D://THUCTAP//SO CAI 2022//SC 6422.xlsx')

In [14]:
TK6422_22.tail(5)

,SỔ CHI TIẾT CÁC TÀI KHOẢN,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
541,2022-12-31 00:00:00,2022-12-31 00:00:00,NVK3537,Trích khấu hao TSCĐ,6422,2141,111460601,0
542,2022-12-31 00:00:00,2022-12-31 00:00:00,NVK3544,Kết chuyển CP QLDN để xác định kết quả HĐKD,6422,911,0,749465285
543,NaN,NaN,NaN,Cộng,6422,NaN,749465285,749465285
544,NaN,NaN,NaN,Số dư cuối kỳ,6422,NaN,NaN,NaN
545,Số dòng = 543,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
# sử dụng hàm Format_SC() để xử lý shape của TK 6422
TK6422_20 = Format_SC(TK6422_20)
TK6422_21 = Format_SC(TK6422_21)
TK6422_22 = Format_SC(TK6422_22)

In [16]:
TK6422_20.head(3)

,Ngày chứng từ,Số chứng từ,Diễn giải,Tài khoản,Phát sinh
0,2020-01-02,UNC001,Phí chuyển tiền,6422,928615
1,2020-01-05,PC00008,Chi thanh toán cước DV viễn thông,6422,72146
2,2020-01-05,PC00009,Chi thanh toán cước DV viễn thông,6422,177990

In [17]:
TK6422_22.head(3)

,Ngày chứng từ,Số chứng từ,Diễn giải,Tài khoản,Phát sinh
0,2022-01-01,PC22_001,Chi thanh toán cước DV viễn thông,6422,65718
1,2022-01-02,PC22_002,Chi thanh toán cước DV viễn thông,6422,199280
2,2022-01-04,NVK3515,Hạch toán thuế môn bài năm 2022,6422,3000000

# Gộp 6421 và 6422 đã xử lý qua 3 năm

In [18]:
#gộp 6421
TH_6421 = pd.concat([TK6421_20, TK6421_21, TK6421_22], ignore_index=True)
TH_6421.head(3)

,Ngày chứng từ,Số chứng từ,Diễn giải,Tài khoản,Phát sinh
0,2020-01-30,NVK033,"Mua xăng, dầu",6421,5459745
1,2020-02-01,PC00053,Chi thanh toán tiền mua dầu DO,6421,6229636
2,2020-02-04,PC00056,Chi thanh toán tiền mua dầu DO,6421,912227

In [19]:
#gộp 6422
TH_6422 = pd.concat([TK6422_20, TK6422_21, TK6422_22], ignore_index=True)
TH_6422.head(3)

,Ngày chứng từ,Số chứng từ,Diễn giải,Tài khoản,Phát sinh
0,2020-01-02,UNC001,Phí chuyển tiền,6422,928615
1,2020-01-05,PC00008,Chi thanh toán cước DV viễn thông,6422,72146
2,2020-01-05,PC00009,Chi thanh toán cước DV viễn thông,6422,177990

# Tổng hợp 6421 và 6422

In [20]:
def replace_dien_giai(value):
    if 'lương' in value:
        return 'Chi phí nhân sự'
    elif 'xăng' in value or 'dầu' in value:
        return 'Chi phí xăng dầu'
    elif 'đường bộ' in value:
        return 'chi phí đường bộ'
    elif 'khấu hao' in value and 'TSCĐ' in value:
        return 'Chi phí khấu hao TSCĐ'
    else:
        return value

In [21]:
def merger_642(df1,df2):
    df = pd.concat([df1, df2], ignore_index=True) 
    df.rename(columns={'Tài khoản': 'Loại chi phí'}, inplace=True)
    df['Loại chi phí'] = df['Loại chi phí'].replace({'6421': 'Chi phí bán hàng','6422': 'Chi phí QLDN'})
    df['Diễn giải'] = df['Diễn giải'].apply(replace_dien_giai)
    return df

In [22]:
tong_hop_CP = merger_642(TH_6421, TH_6422)
tong_hop_CP

,Ngày chứng từ,Số chứng từ,Diễn giải,Loại chi phí,Phát sinh
0,2020-01-30,NVK033,Chi phí xăng dầu,Chi phí bán hàng,5459745
1,2020-02-01,PC00053,Chi phí xăng dầu,Chi phí bán hàng,6229636
2,2020-02-04,PC00056,Chi phí xăng dầu,Chi phí bán hàng,912227
3,2020-02-29,NVK065,Chi phí xăng dầu,Chi phí bán hàng,10238328
4,2020-03-13,NVK079,Chi phí xăng dầu,Chi phí bán hàng,1068600
...,...,...,...,...,...
1614,2022-12-31,NVK3513,BHXH phải nộp,Chi phí QLDN,16796613
1615,2022-12-31,NVK3513,BHXH phải nộp,Chi phí QLDN,1682936
1616,2022-12-31,NVK3514,Chi phí nhân sự,Chi phí QLDN,157333400
1617,2022-12-31,NVK3536,Phân bổ chi phí trích trước,Chi phí QLDN,14982879
1618,2022-12-31,NVK3537,Chi phí khấu hao TSCĐ,Chi phí QLDN,111460601

# Xu ly so chi tiet

In [23]:
dtype_dict = {
    'Số hóa đơn': str,
    'Số lượng bán': int}

In [24]:
SCT_20 = pd.read_excel('D://THUCTAP//SO CAI 2020//SO_CHI_TIET_BAN_HANG 2020.xlsx', skiprows = 2,dtype=dtype_dict)
SCT_21 = pd.read_excel('D://THUCTAP//SO CAI 2021//SO_CHI_TIET_BAN_HANG 2021.xlsx', skiprows = 2,dtype=dtype_dict)
SCT_22 = pd.read_excel('D://THUCTAP//SO CAI 2022//SO_CHI_TIET_BAN_HANG 2022.xlsx', skiprows = 2,dtype=dtype_dict)

In [25]:
def Format_SCT(df):
    df = df.dropna()
    df[["Ngày chứng từ"]] = df[["Ngày chứng từ"]].apply(pd.to_datetime)
    df['Số hóa đơn'] = "'" + df['Số hóa đơn'].astype(str)
    columns_to_drop = ['Ngày hạch toán','Số chứng từ','Ngày hóa đơn','Chiết khấu','Số lượng trả lại','Giá trị giảm giá','Giá trị trả lại']
    
    # Check if columns exist before attempting to drop them
    columns_to_drop_existing = [col for col in columns_to_drop if col in df.columns]
    if columns_to_drop_existing:
        df.drop(columns=columns_to_drop_existing, inplace=True)
    
    return df

In [26]:
SCT20 = Format_SCT(SCT_20)
SCT21 = Format_SCT(SCT_21)
SCT22 = Format_SCT(SCT_22)

D:\anaconda\lib\site-packages\pandas\core\frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
C:\Users\TechCare\AppData\Local\Temp/ipykernel_24976/1214963531.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Số hóa đơn'] = "'" + df['Số hóa đơn'].astype(str)
D:\anaconda\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
D:\anaconda\lib\site-packages\pandas\core\frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
C:\Users\TechCare\AppData\Local\Temp/ipykernel_24976/1214963531.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Số hóa đơn'] = "'" + df['Số hóa đơn'].astype(str)
D:\anaconda\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
D:\anaconda\lib\site-packages\pandas\core\frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
C:\Users\TechCare\AppData\Local\Temp/ipykernel_24976/1214963531.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Số hóa đơn'] = "'" + df['Số hóa đơn'].astype(str)
D:\anaconda\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [27]:
def merge_SCT(TK632,df):
    df = df.merge(TK632[['Số hóa đơn', 'Tên khách hàng']], how='left', on='Số hóa đơn')
    return df

In [28]:
SCT_20 = merge_SCT(TK632_20,SCT20)
SCT_21 = merge_SCT(TK632_21,SCT21)

In [29]:
SCT_21

,Ngày chứng từ,Số hóa đơn,Mã hàng,Tên hàng,ĐVT,Số lượng bán,Đơn giá,Doanh số bán,Đơn giá vốn,Giá vốn,Tên khách hàng
0,2021-01-01,'0000228,TL_TL,Thuốc lá Thăng Long B.C,Thùng,3,3755000.0,11265000,3740000.00,11220000,Hoàng Thị Hương
1,2021-01-01,'0000228,TL_TLSLIM,Thuốc lá Thăng Long Slim,Thùng,2,4215000.0,8430000,4195000.00,8390000,Hoàng Thị Hương
2,2021-01-02,'0000229,TL_BLA,Thuốc lá Blue Seal Apple Slim,Thùng,1,3770000.0,3770000,3739999.91,3740000,Đại Lý Tiến Thúy
3,2021-01-02,'0000229,TL_RC,Thuốc lá Thăng Long Round Corner,Thùng,1,5750000.0,5750000,5735454.27,5735454,Đại Lý Tiến Thúy
4,2021-01-02,'0000229,TL_SP,Thuốc lá Sapa B.M,Thùng,2,2265000.0,4530000,2244990.71,4489981,Đại Lý Tiến Thúy
...,...,...,...,...,...,...,...,...,...,...,...
6640,2021-12-31,'0001100,TL_SP,Thuốc lá Sapa B.M,Thùng,2,2520000.0,5040000,2496594.68,4993189,Hà Toàn
6641,2021-12-31,'0001100,TL_TL,Thuốc lá Thăng Long B.C,Thùng,65,3910000.0,254150000,3912458.78,254309821,Hà Toàn
6642,2021-12-31,'0001100,TL_TLSLIM,Thuốc lá Thăng Long Slim,Thùng,15,4215000.0,63225000,4195000.00,62925000,Hà Toàn
6643,2021-12-31,'0001100,TL_VINADS,Thuốc lá Vinataba Demi Slims,Kiện,1,3470000.0,3470000,3457685.98,3457686,Hà Toàn
6644,2021-12-31,'0001100,D_TN,Diêm Thống Nhất,Kiện,1,356772.0,356772,354339.00,354339,Hà Toàn

In [30]:
def Extract_SCT22(df):
    pattern = r'(?i)bán hàng\s*(.*?)\s*theo hóa đơn'
    # Extract 'Ten_khach_hang' from the strings using the defined pattern
    df['Tên khách hàng'] = df['Diễn giải chung'].str.extract(pattern)
    return df

In [31]:
SCT_22 = Extract_SCT22(SCT22)

C:\Users\TechCare\AppData\Local\Temp/ipykernel_24976/65051391.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Tên khách hàng'] = df['Diễn giải chung'].str.extract(pattern)

In [ ]:
def drop_saleoff(df):

In [32]:
SCT_22

,Ngày chứng từ,Số hóa đơn,Diễn giải chung,Mã hàng,Tên hàng,ĐVT,Số lượng bán,Đơn giá,Doanh số bán,Đơn giá vốn,Giá trị hàng hoá xuất ra,Tên khách hàng
0,2022-01-02,'1101,Thu tiền bán hàng Nguyễn Thị Lý theo hóa đơn 1101,TL_TL,Thuốc lá Thăng Long B.C,Thùng,46,3955000.00,181930000,3912458.78,179973104,Nguyễn Thị Lý
1,2022-01-02,'1101,Thu tiền bán hàng Nguyễn Thị Lý theo hóa đơn 1101,HH_150GM,Heo hầm 150g,Hộp,144,23882.01,3439010,23716.00,3415104,Nguyễn Thị Lý
2,2022-01-02,'1101,Thu tiền bán hàng Nguyễn Thị Lý theo hóa đơn 1101,HH_3BM150G,Heo hầm 3 Bông Mai 150g,Thùng,2,1150257.50,2300515,1142261.83,2284524,Nguyễn Thị Lý
3,2022-01-02,'1101,Thu tiền bán hàng Nguyễn Thị Lý theo hóa đơn 1101,HN_THIT400G,Hạt nêm chuẩn vị thịt gói 400g,Gói,24,24168.00,580032,24000.00,576000,Nguyễn Thị Lý
4,2022-01-02,'1101,Thu tiền bán hàng Nguyễn Thị Lý theo hóa đơn 1101,X_3BM21GM,XXTT 3 Bông Mai bò 21g,Gói,180,7616.09,1370897,7563.15,1361367,Nguyễn Thị Lý
...,...,...,...,...,...,...,...,...,...,...,...,...
9588,2022-12-31,'1097,Thu tiền bán hàng Quyền Hướng theo hóa đơn 1097,TL_BLA,Thuốc lá Blue Seal Apple Slim,Thùng,1,3770000.00,3770000,3739999.98,3740000,Quyền Hướng
9589,2022-12-31,'1097,Thu tiền bán hàng Quyền Hướng theo hóa đơn 1097,TL_BR04,Thuốc lá Blue River MT BC (BR04),Bao,300,5950.00,1785000,5908.84,1772652,Quyền Hướng
9590,2022-12-31,'1097,Thu tiền bán hàng Quyền Hướng theo hóa đơn 1097,TL_VINA,Thuốc lá Vinataba Sài Gòn,Thùng,1,7690000.00,7690000,7640000.00,7640000,Quyền Hướng
9591,2022-12-31,'1098,Thu tiền bán hàng Khách lẻ theo hóa đơn 1098,TL_TL,Thuốc lá Thăng Long B.C,Thùng,15,3955000.00,59325000,3939999.99,59100000,Khách lẻ
9592,2022-12-31,'1098,Thu tiền bán hàng Khách lẻ theo hóa đơn 1098,TL_TLSLIM,Thuốc lá Thăng Long Slim,Thùng,10,4650000.00,46500000,4629915.83,46299158,Khách lẻ

# Save data

In [33]:
# 2020
TK632_20.to_csv('D://THUCTAP//data_da_xuly//632_20.csv', index=False,  encoding='utf-16', sep='\t')
#TK6421_20.to_csv('D://THUCTAP//data_da_xuly//6421_20.csv', index=False,  encoding='utf-16', sep='\t')
#TK6422_20.to_csv('D://THUCTAP//data_da_xuly//6422_20.csv', index=False,  encoding='utf-16', sep='\t')
SCT_20.to_csv('D://THUCTAP//data_da_xuly//SCT_20.csv', index=False,  encoding='utf-16', sep='\t')

In [34]:
# 2021
TK632_21.to_csv('D://THUCTAP//data_da_xuly//632_21.csv', index=False,  encoding='utf-16', sep='\t')
#TK6421_21.to_csv('D://THUCTAP//data_da_xuly//6421_21.csv', index=False,  encoding='utf-16', sep='\t')
#TK6422_21.to_csv('D://THUCTAP//data_da_xuly//6422_21.csv', index=False,  encoding='utf-16', sep='\t')
SCT_21.to_csv('D://THUCTAP//data_da_xuly//SCT_21.csv', index=False,  encoding='utf-16', sep='\t')

In [35]:
# 2022
TK632_22.to_csv('D://THUCTAP//data_da_xuly//632_22.csv', index=False,  encoding='utf-16', sep='\t')
#TK6421_22.to_csv('D://THUCTAP//data_da_xuly//6421_22.csv', index=False,  encoding='utf-16', sep='\t')
#TK6422_22.to_csv('D://THUCTAP//data_da_xuly//6422_22.csv', index=False,  encoding='utf-16', sep='\t')
SCT_22.to_csv('D://THUCTAP//data_da_xuly//SCT_22.csv', index=False,  encoding='utf-16', sep='\t')

In [36]:
#Tong_hop_CP
tong_hop_CP.to_csv('D://THUCTAP//data_da_xuly//tong_hop_CP.csv', index=False,  encoding='utf-16', sep='\t')